@model Park
@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>
<table class="table table-bordered">
    <thead>
        <tr id="detail-head">
            <td id="detail-park-name">@Model.Park_Name (@Model.Park_Code)</td>
            <td id="five-day-forecast" >
                <a id="forecast-anchor" style="color: #f8e801" asp-controller="home" asp-action="Forecast" asp-route-parkCode="@Model.Park_Code">
                    <span>Get 5 Day Forecast for @Model.Park_Name</span>
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr id="detail-img">
            <td>
                <img src="~/images/parks/@(Model.Park_Code).jpg" /> 
            </td>
            <td id="detail-text"><b>Description:</b> @Model.Description</td>
        </tr>
        <tr id="detail-text">
            <td><b>Location:</b> @Model.State</td>
        </tr>
        <tr id="detail-text">
            <td><b>Acerage:</b> @Model.Acerage</td>
        </tr>
        <tr id="detail-text">
            <td><b>Elevation:</b> @Model.Elevation_In_Feet feet</td>
        </tr>
        <tr id="detail-text">
            <td><b>Total Trail Length:</b> @Model.Miles_Of_Trail miles</td>
        </tr>
        <tr id="detail-text">
            <td><b>Number of Campsites:</b> @Model.Number_Of_Campsites</td>
        </tr>
        <tr id="detail-text">
            <td><b>Climate:</b> @Model.Climate</td>
        </tr>
        <tr id="detail-text">
            <td><b>Year Founded:</b> @Model.Year_Founded</td>
        </tr>
        <tr id="detail-text">
            <td><b>Annual Visitor Count:</b> @Model.Annual_Visitor_Count</td>
        </tr>
        <tr id="detail-text">
            <td><b>Official Park Quote:</b> "@Model.Quote" -@Model.Quote_Source </td>
        </tr>
        <tr id="detail-text">
            <td><b>Entry Fee:</b> @($"{Model.Entry_Fee:C}")</td>
        </tr>
        <tr id="detail-text">
            <td><b>Number of Species:</b> @Model.Number_Of_Species</td>
        </tr>
    </tbody>
</table>
