@model IList<ParkWeather>
@{

    //string parkCode = Model[0].Park_Code;
    ViewData["Title"] = "Forecast";
}

<h2>Forecast</h2>
@if (Model[0].Temperature_Unit == "F")
{
    <form asp-action="ToggleTemp" asp-route-parkID="@Model[0].Park_Code" method="post">
        <label>Convert</label>
        <br />
        <input type="submit" value="Convert Forecast to Celsius" />
    </form>
}
else
{
    <form asp-action="ToggleTemp" asp-route-parkID="@Model[0].Park_Code" method="post">
        <label>Convert</label>
        <br />
        <input type="submit" value="Convert Forecast to Farenheit" />
    </form>
}


    <table id="weather" class="table">
        @foreach (ParkWeather weather in Model)
        {

            <tr>
                <th>
                    @switch (weather.FiveDayForecastValue)
                    {
                        case 1:
                            <span>Today</span>
                            break;
                        case 2:
                            <span>Tomorrow</span>
                            break;
                        case 3:
                            <span>@DateTime.Now.AddDays(2).DayOfWeek</span>
                            break;
                        case 4:
                            <span>@DateTime.Now.AddDays(3).DayOfWeek</span>
                            break;
                        case 5:
                            <span>@DateTime.Now.AddDays(4).DayOfWeek</span>
                            break;
                    }
                </th>
            </tr>
            <tr>
                <td>
                    <img id="weather-image" src="~/images/weather/@(weather.Forecast.Replace(" ", "")).png" /><br />
                </td>
                <td>
                    <span id="temps">High: @weather.HighTemp @weather.Temperature_Unit     Low: @weather.LowTemp @weather.Temperature_Unit</span>  <br />

                    @switch (weather.Forecast)
                    {
                        case "snow":
                            <span>Pack snowshoes</span>;
                            break;
                        case "rain":
                            <span>Pack rain gear and waterproof shoes</span>;
                            break;
                        case "thunderstorms":
                            <span>Seek shelter and avoid hiking on exposed ridges</span>;
                            break;
                        case "sun":
                            <span>Pack sunblock</span>;
                            break;
                    }

                    <br />
                    @if (weather.Temperature_Unit == "C")
                    {
                        @if (weather.HighTemp > 23)
                        {
                            <span>Bring extra gallon of water</span>
                        }
                        @if (weather.LowTemp < -6)
                        {
                            <span>Danger of exposure to frigid temperatures</span>
                        }
                        @if (weather.HighTemp - weather.LowTemp > 11)
                        {
                            <span>Wear breathable layers</span>
                        }
                    }
                    else
                    {

                        @if (weather.HighTemp > 75)
                        {
                            <span>Bring extra gallon of water</span>
                        }
                        @if (weather.LowTemp < 20)
                        {
                            <span>Danger of exposure to frigid temperatures</span>
                        }
                        @if (weather.HighTemp - weather.LowTemp > 20)
                        {
                            <span>Wear breathable layers</span>
                        }
                    }
                </td>
            </tr>

        }
    </table>

